<h1 class="title text-center">My shitty restaurants list</h1>

  <div class="row">
    <% @restaurants.each do |resto| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-resto text-center">
          <h4><%=resto.name%></h4>
          <p><%=resto.category.capitalize%> Restorant</p>
          <p><%=resto.address%></p>
          <p>Phone: <%=resto.phone_number%></p>
          <div class="button-container">
            <%= link_to "Details", restaurant_path(resto), class: "btn btn-seb" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
